*{
	margin:0;
	padding:0;
}

body{
	background-color: black;
	background: url(../img/intro-background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:white;
	overflow: hidden;
	overflow-x: hidden;
	width:100%;
	height:100%;
}

#rotar-img {
	padding: 40px;
	text-align: center;
	z-index: 10;
}

div#logo {
	position:absolute;
	top:100px;
	width:100%;
	height:100%;
	text-align: center;


	z-index: 100;
}